img{
    width:100%;
}

.camp-img{
    position:relative;
    overflow:hidden;
    padding-top:56%;
    img{
        position:absolute;
        top:0;
        left:0;
        width:100%;
    }
}

//show.bladeのlayout

.images-container{
    display:flex;
    .left-cont{
        width:50%;
    }
    .right-cont{
        width:50%;
        display:flex;
        flex-wrap:wrap;
        .single-img{
            width:50%;
            overflow:hidden;
        }
    }
}